body{ 
	margin:0; 
	padding:0; 
	background-color: white; 
	min-width: 1040px; 
	font-size:15px; 
	font-family: "Open Sans", sans-serif; 
} 

header{ 
	background-color: #0085d1; 
	height: 50px; 
} 
.container { 

	width: 1200px; 
	margin: 0 auto; 
} 
.clearfix::after { 
	content: ""; 
	display: table; 
	clear: both; 
} 
.logo{ 
	float:left; 
	margin-right:15px; 
} 
.main-nav{ 

	float: left; 
	width: 650px; 
	margin: 0; 
	margin-top: 15px; 
	margin-left: 35px; 
	padding: 0; 
	list-style: none; 
} 
.main-nav li { 
	float: left; 
	margin-right: 45px; 
} 

/* последняя ссылка в меню 
.main-nav li:last-child a{ 
margin-right: 0; 
color:black; 
} 
*/ 
.main-nav a { 
	color: rgba(255,255,255, 0.7); 
	text-decoration: none; 
	font-weight: 300; 
} 
.main-nav li:hover a{ 
	font-weight: 500; 
	color:white; 
	margin-right:-3px; 
} 
main { 
	background-color: #f2f2f2; 
	padding-top:30px; 
	padding-bottom:90px; 
	border-bottom:1px solid #dfdfdf; 
} 

.container_main{ 
	width:960px; 
	margin:0 auto; 
} 
main h1{ 
	margin:0 auto 30px 25px ; 
	font-size: 20px; 
} 
form{ 
	background-color: white; 
	margin:0 0 0 0px; 
	border:none; 
	box-shadow:2px 2px 2px 0 #e5e5e5; 
	padding:0; 
} 
.selection{ 
	border-bottom:1px solid #e0e0e0; 
} 
.selection ul{ 
	padding:0; 
	margin:0; 
	list-style:none; 
} 
.selection li{ 
	float:left; 
	margin-left:5px; 
	padding: 15px; 
	margin-right:12px; 
} 

.selection li a{ 
	text-transform: uppercase; 
	color:#bdbdbd; 
	text-decoration: none; 
} 
.selection li:last-child a{ 
	color:#2d9cdb; 
	font-weight: 500; 
} 
.selection li:hover, 
.selection li a.active{ 
	color:#2d9cdb; 
	border-bottom:2px solid #2d9cdb; 
	font-weight: 500; 
	padding-bottom: 13px; 
} 
.selection li:hover a, 
.selection li:active a{ 
	font-weight: 500; 
	color:#2d9cdb; 
} 
.selection_city label{ 
	font-size:12px; 
	color:#bdbdbd; 
	padding-left:20px; 
} 
.selection_city ul{ 
	padding:0; 
	margin:0; 
	list-style:none; 
} 
.selection_city li{ 
	float:left; 
	margin:20px; 
	margin-right:10px; 
} 

.selection_city li:not(:last-child) input{ 
	border:1px solid #e0e0e0; 
	padding:15px 0 15px 15px ; 
	border-radius: 2px; 
	margin-top:5px; 
	width:220px; 
	font-size: 15px; 
	font-family: "Open Sans"; 
	color:#4e4e4e; 
	font-weight: bold; 


} 
.selection_city .buttons{ 
	float:right; 
	margin-top: 45px; 
	margin-right: 20px; 

} 
.selection_city .buttons input{ 
	padding:18px; 
	width:250px; 
	background-color: #ff8e41; 
	border:none; 
	border-radius: 2px; 
	text-transform: uppercase; 
	color: white; 
	font-weight: 500; 
	font-size: 15px; 
	cursor: pointer;
} 
textarea{ 
	margin-left: 20px; 
	width:920px; 
	height:100px; 
	margin-top:5px; 
	border-radius: 2px; 
	border:1px solid #e0e0e0; 
} 
.country_main label{ 
	padding-left:40px; 
	font-size:12px; 
	color:#bdbdbd; 

} 
.country_main input{ 
	margin:20px -25px 20px 40px; 
	padding:9px 11px; 
	font-size:15px; 
	text-transform: uppercase; 
	border-radius: 30px; 
} 
.country_main input[name="add_region"]{ 

	border:1px solid #2d9cdb; 
	color:#2d9cdb; 
	background-color:white; 
} 
.country_main input[name="add_country"]{ 
	background-color: #2d9cdb; 
	color:white; 
	border:none; 
} 
.form ul{ 
	padding:10px 20px 10px 20px; 
	margin:0; 
	list-style:none; 
} 
.form li{ 
	float:left; 
	margin-left:-2px; 
	border-radius: 10px; 

} 
.form label{ 
	font-size:12px; 
	color:#bdbdbd; 
	padding-left:25px; 

} 
.form li input{ 
	height:48px; 
	border:1px solid #e0e0e0 ; 
	border-radius: 2px; 
	margin-top:5px; 
	margin-bottom: 20px; 
} 
.form input[name="data"]{ 
	width:273px; 
} 
.form input[name="how_long"]{ 
	width:170px; 
} 
.form input[name="number_of_guests"]{ 
	width:215px; 
} 
.form input[name="tour_cost"]{ 
	width:254px; 
} 
.form input[name="hotel_category"]{ 
	width:170px; 
} 
.form input[name="rating"]{ 
	width:185px; 
} 
.form input[name="location"]{ 
	width:225px; 
} 
.form .button input{ 
	margin-top:25px; 
	margin-left:164px; 
	background-color: white; 
	border:none; 
	text-transform: uppercase; 
	color:#d75a4a; 
	font-size:15px; 
	font-weight: 500; 
} 
footer{ 
	min-height:248px;
	font-size: 13px; 
	color:#828282; 
} 

footer .clearfix div{ 
	float:left; 
} 
.footer-right h2{ 
	font-size: 14px; 
	font-weight: 600; 
	text-transform: uppercase; 
	margin-top:50px; 
	color:black; 
} 
.footer-right p{ 
	margin-top:14px; 
	margin-bottom: 5px; 


} 
.footer-right a{ 

	color:#828282; 
	border-bottom: 1px dashed #828282; 

	text-decoration: none; 
} 
.footer-middle{ 
	margin-top: 60px; 
	margin-left:190px; 
} 
.footer-middle p{ 
	line-height: 20px; 
} 
.footer-left{ 
	margin-top: 70px; 
	margin-left:113px; 
	line-height: 20px; 
} 
.footer-left a{ 
	color:#828282; 
	border-bottom: 1px dashed #828282; 

	text-decoration: none; 
} 
.social ul{ 
	list-style:none; 
	padding:0; 
	margin:0; 
	margin-top:70px; 
	margin-left: 160px; 
} 
.social a{ 
	color:#828282; 
	line-height: 20px; 
	text-decoration: none; 
} 
.footer-bottom{ 
	float:right; 
	margin-top:28px; 
}